.header {
	z-index: 1;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#000002,#000033 ,#2b1055);
}

.header-p1 {
    color: #663399;
    font-size: 1.5rem;
}

.header-h1 {
    font-size: 1.5rem;
}

.header-p2 {
    font-size: 1.5rem;
}


.row {
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.column-header {
    flex: 80%;
}

.column-image {
    flex: 20%;
    object-fit: cover;
}

.header-section {
    z-index: 1;
}

.cont-moon {
    z-index: 1;
}

.moon {
    height: 500px;
    width: 500px;
}


.background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.tree {
    z-index: 1;
}


/* MEDIA QUERY MIN */
@media (min-width: 576px) {	
	.container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
	.container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
	.container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
	.container {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    .header-p1 {
        font-size: 2rem;
    }
    
    .header-h1 {
        font-size: 2rem;
    }
    
    .header-p2 {
        font-size: 2rem;
    }

    .moon {
        height: 530px;
        width: 530px;
    }
}






/* MEDIA QUERY MAX */
@media (max-width: 1199px) {
    .header-p1 {
        font-size: 1.5rem;
    }
    
    .header-h1 {
        font-size: 1.5rem;
    }
    
    .header-p2 {
        font-size: 1.5rem;
    }

    .moon {
        height: 450px;
        width: 450px;
    }
}


@media (max-width: 992px) {
    .header-p1 {
        font-size: 1rem;
    }
    
    .header-h1 {
        font-size: 1rem;
    }
    
    .header-p2 {
        font-size: 1rem;
    }

    .moon {
        height: 300px;
        width: 300px;
    }

}

@media (max-width: 767px) {
    .header-p1 {
        font-size: .8rem;
    }
    
    .header-h1 {
        font-size: .8rem;
    }
    
    .header-p2 {
        font-size: .8rem;
    }

    .moon {
        height: 250px;
        width: 250px;
    }

}

@media (max-width: 575px) {
    /*.row {
        display: block;
    }

    .cont-moon {
        top: 20px;
    }

    .column-header {
        margin-top: 0;
        position: absolute;
        bottom: 30%;
    }

    .column-image {
        position: absolute;
        left: 15%;
    }
  */
  .row {
    flex-direction: column-reverse;
    min-height: 50vh;
    margin-top: 10%;
}

.column-image {
    flex: 80%;
    object-fit: cover;
}

.column-header {
    flex: 20%;
}

.moon {
    height: 250px;
    width: 250px;
}
    
}